* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    /* Reset */


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
    /* clearfix */


body {
    font-family: 'Nunito', sans-serif;

    text-align: center;
}

.container {
    width: 70%;

    margin: auto;
}


/* Titolo */
h1 {
    color: #e53170;
    font-weight: 900;
    margin-top: 1em;
    margin-bottom: 1em;
}
/* Fine titolo */


/* Paragrafo */
p {
    padding-bottom: 30px;
}
/* Fine paragrafo */



/* CARDS */


.row {
    color: white;
}


.row .column {
    width: calc(100% / 3);

    float: left;

}

.row .column img{
    height: 120px;
    float: left;
}

.dati{
    width: 100%;
    height: 120px;

    padding-top: 17px;
    padding-left: 135px;

    line-height: 180%;

    background-color: #0f0e17;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.nome{
    font-weight: 900;
    font-size: medium;
}

.column {
    text-align: left;

    padding-block: 30px;
}

.centro{
    padding-inline: 10px;
}

.sinistra{
    padding-inline-end: 20px;
}

.destra{
    padding-inline-start: 20px;
}

/* Email */
a{
    text-decoration: none;
    color: #13c0f8;
}


/* FINE CARDS */