* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
    /* Reset */


.clearfix::before {
    content: '';
    /* display: table; */
    clear: both;
}
    /* clearfix */


body {
    font-family: 'Nunito', sans-serif;

    text-align: center;

}


h1 {
    color: #e53170;
    font-weight: 900;
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    padding-bottom: 50px;
}

.container {
    width: 70%;
    
    margin-left: auto;
    margin-right: auto;
}

.row .column {
    width: calc(100% / 3);

    float: left;

    /* padding: 0 35px 60px 0; */

}

.row {
    color: white;
}

h2{
    font-weight: 900;
}

.row .column img{
    height: 125px;
    width: 125px;
}

.dati{
    height: 125px;
    width: 315px;

    background-color: #0f0e17;
}

.img{
    float: left;
}

.column {
    text-align: left;

    
    

    
}

